* {
  font-family: 'Roboto', Arial;
  text-align: center;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 599px){
	*{
		font-size: 15px;
	}
}

h1 {
	font-size: 1.5em;
}

fieldset {
    border: none;
}

button:hover,
button:focus {
  background-color: white;
  color: #006e99;
}

.counter {
	display: flex;
	justify-self: flex-end;
	padding: 7.5px 0 0 7.5px;
	margin: 0 auto;
	width: 100px;
	height: 50px;
	border: 2px solid black;
	background-color: #006e99;
	color: white;
}


.main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	justify-self: center;

  /* margin: 20px auto; */
  padding: 50px;
  width: 70%;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border: 1px grey solid;
}

body {
	display: flex;
	justify-content: space-around;
}

.question {
  text-align: center;
}

@media screen and (max-width: 599px){
	.placeholder {
		height: 200px;
		width: 200px;
		background: black;
		margin: 0 auto;
	}
	.counter{
		align-self: center;
	}
	.sub-btn {
		float: none;
	}
}


@media screen and (min-width: 600px){
	*{
		font-size: 25px;
	}
	.placeholder {
		height: 400px;
		width: 400px;
		background: black;
		margin: 0 auto;
	}
	.counter{
		align-self: flex-end;
	}
	.sub-btn {
		float: right;
	}
}

.feedback {
	/* border: 2px solid black; */
	clear: right;
}

.js-correct-answer{
	border: 3px black solid;
	background: green;
}

input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

label {
	display: inline-block;
	width: 300px;
	background: #006e99;
	color: white;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

input[type="radio"]:checked + label {
	color: #006e99;
	background: white;
}

form{
	display: flex;
	flex-direction: column;
}

button{
    background-color: #006e99;
    color: white;
    border-radius: 4px;
    border: solid 2px #006e99;
    padding: 15px;
    margin: 5px;
}

legend {
	font-size: 1.2em;
	margin: 10px auto;
}

.background{
    background: center fixed no-repeat url("https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/2/1280/720/75/dam/disneyland/3-day-ticket-offer/hero-video/DIQB8032000H-disneyland-resort-scope-campaign-kids-video.jpg");
    background-size: cover;

    padding: 0;
    margin: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;

    filter: blur(4px);
}